@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(216, 11%, 9%);
  font-family: Inter;
}

@media only screen and (max-width: 768px) {

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #141619;
    padding: 10px 20px;
    max-width: 100%;
    /* Ensures it spans the full width */
  }

  .logo {
    max-width: 120px;
    max-height: 50px;
    /* Adjust based on your design */
  }

  .mobile-nav-tabs {
    display: flex;
    align-items: center;
  }

  .mobile-nav-list {
    display: none;
    /* Initially hidden for mobile */
    position: absolute;
    top: 48px;
    /* Adjust based on the height of the nav bar */
    left: 0;
    width: 100%;
    background-color: #141619;
    z-index: 999;
    /* Ensure it appears above other content */
    padding: 20px;
  }

  .tabs-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Add spacing between list items */
  }

  .tabs-list li {
    color: #fff;
    cursor: pointer;
  }

  /* Toggle the nav list on click */
  #btn-toggle.active~.mobile-nav-list {
    display: block;
  }

  #btn-toggle {
    max-width: 30px;
    margin-right: 20px;
  }

  img {
    max-width: 100%;
  }

  .heroic-section {
    text-align: center;
    box-sizing: border-box;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .heroic-heading {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
  }

  /* .heroic-heading span {


} */

  .heroic-body {
    color: #E5E5E5;
    font-size: 1rem;
    font-weight: 400;
    max-width: 100%;
    line-height: 1.6rem;
  }

  .heroic-btn {
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    display: inline-block;
    padding: 10px 20px;
    margin: 0 auto;
    /* Centers the button */
    white-space: nowrap;
    overflow: hidden;
    border: none;
    /* Prevents content overflow */
    max-width: 100%;
    text-overflow: ellipsis;
    text-decoration: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
  }

  .data-details {
    display: grid;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 10px;
    padding-bottom: 2rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }



  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8 {
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    background-color: transparent;
    /* padding-bottom: 7px; */
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
  }

  .box5,
  .box2 {
    border: none;
  }



  .box-heading {
    font-weight: 400;
    /* line-height: 20px; */
    padding-bottom: 20px;
  }

  .box-body {
    font-weight: 200;
  }

  .team-section {
    text-align: center;
  }

  .team-section h2 {
    font-size: 1.4rem;
    font-weight: 200;
    color: #fff
  }

  .team-section p {
    padding: 0rem 2rem;
    color: #E5E5E5;
    line-height: 1.8rem;
  }

  .marketing {
    text-align: center;
  }

  .marketing h4 {
    font-weight: 500;
    font-size: 1.4rem;
    color: #fff;
  }

  .marketing p {
    padding: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #E5E5E5;
  }

  .project-briefing {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 92px;

  }

  .briefing-body,
  .exchange-body {
    padding: 20px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #E5E5E5;
  }

  .project-briefing-left h6,
  .crypto-exchange-right h6 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #fff;
  }

  .project-briefing-left h4,
  .crypto-exchange-right h4 {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    padding-bottom: 20px;
    color: #fff;
  }

  #content-marketing {
    padding-bottom: 3rem;
  }

  #content-marketing::before {
    background-image: url("./img/background-blob-service-1.png");
    content: "";
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 70rem;
    left: 0;
    max-width: 100%;
    height: 100%;
    /* Full height */
    z-index: -1;
    /* Puts the background behind the content */
  }

  .btn {
    font-size: 1.2rem;
    color: #fff;
    background-color: transparent;
    padding-bottom: 7px;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to left, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-decoration: none;
    display: inline-block;
  }

  .btn>span::after {
    content: "";
    width: 30px;
    height: 30px;
    background: url("./img/a_after.png") no-repeat;
    margin-left: 10px;
    margin-top: 2px;
    position: absolute;
    display: inline-block;
  }

  .crypto-exchange-detail {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .exchange-img {
    max-width: 100%;
  }

  img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .our-partners {
    position: relative;
    /* Ensures ::before is positioned relative to this container */
    padding: 20px;
    text-align: center;
  }

  /* .our-partners::before {
  content: "";
  position: absolute;
  background-image: url(./img/middle-left-2.png.png);
  background-size: cover;
  background-position: top;
  top: -102px;
  right: 190px;

  width: 500px;
  height: 500px;
  z-index: 0;
}

.our-partners::after {
  content: "";
  position: absolute;
  background-image: url(./img/mena.png.png),
    url("./img/near.png.png"),
    url("./img/solana.png.png");
  background-size: cover;
  background-position: top;
  top: 0px;

  left: 0;

  width: 73px;
  height: 83px;
  z-index: 1;
} */


  .partner-header {
    color: #fff;
  }

  .partner-logos {
    z-index: -1
  }

  .slider {
    position: relative;
    width: 300px;
    overflow: hidden;
    margin: auto;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
    color: #fff;
  }

  .slide p {
    font-size: 0.7rem;
    font-weight: 200;
    line-height: 20px;
    text-align: center;
    padding: 20px;

  }

  .prev,
  .next {
    /*   position: relative; */

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
  }

  .dots-container {
    text-align: center;
    margin-top: 10px;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
  }

  .dot.active {
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
  }

  .slider-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-footer img {
    width: 30%;
    /* Scales with the container */
    height: auto;
    max-width: 50px;
    /* Ensures it doesn’t get too large */
    border-radius: 4px;
  }

  .join-team {
    padding: 20px;
    color: #fff;
    text-align: center;
    /* justify-content: space-between;
    align-items: center; */
  }

  .header-join-team {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 78px;
    text-align: center;
  }

  .body-join-team {
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 20px;
    color: #E5E5E5;
    text-align: center;

  }

  .body-join-team>p {
    padding-bottom: 10px;
  }

  .contact-us {
    padding: 20px;
    color: #fff;
    text-align: center;
    /* margin-bottom: 30px; */
  }

  .contact-us h4 {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    padding-bottom: 20px;
  }

  .contact-us p {

    font-size: 0.8rem;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  /* Distributes space between the boxes */
  padding: 20px;
  background-color: #141619;
  color: #fff;
  border-top: 1px solid #FFFFFF40;
}

.footer-box {
  flex: 1;
  /* Makes both sections equal width */
  margin: 0 10px;
  /* Adds spacing between the sections */
}

.footer-box p {
  margin: 0;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    /* Stacks the sections vertically */
    text-align: left;
  }

  .footer-link {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

  }

  .footer-link a {
    color: #BCBCBC;
    text-decoration: none;

  }

  .footer-box {
    margin: 10px 0;
    /* Adds spacing between stacked sections */
  }

  .terms {
    color: #BCBCBC;
    flex-direction: column;
    display: flex;
    gap: 20px;
  }

  .terms p {
    line-height: 20px;
  }
}