@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(216, 11%, 9%);
  font-family: Inter;
}

@media only screen and (max-width: 768px) {

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #141619;
    padding: 10px 20px;
    max-width: 100%;
    /* Ensures it spans the full width */
  }

  .logo {
    max-height: 50px;
    /* Adjust based on your design */
  }

  .mobile-nav-tabs {
    display: flex;
    align-items: center;
  }

  .mobile-nav-list {
    display: none;
    /* Initially hidden for mobile */
    position: absolute;
    top: 60px;
    /* Adjust based on the height of the nav bar */
    left: 0;
    width: 100%;
    background-color: #141619;
    z-index: 999;
    /* Ensure it appears above other content */
    padding: 20px;
  }

  .tabs-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Add spacing between list items */
  }

  .tabs-list li {
    color: #fff;
    cursor: pointer;
  }

  /* Toggle the nav list on click */
  #btn-toggle.active~.mobile-nav-list {
    display: block;
  }

  #btn-toggle {
    max-width: 30px;
    margin-right: 20px;
  }

  img {
    max-width: 100%;
  }

  .heroic-section {
    text-align: center;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .heroic-heading {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    /* font-size: 36px; */
    margin: 0px;
  }

  /* .heroic-heading span {


} */

  .heroic-body {
    color: #E5E5E5;
    font-size: 1rem;
    font-weight: 400;
    max-width: 100%;
    line-height: 1.6rem;
  }

  .heroic-btn {
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    display: inline-block;
    padding: 10px 20px;
    margin: 0 auto;
    /* Centers the button */
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    /* Prevents content overflow */
    max-width: 100%;
    text-overflow: ellipsis;
    text-decoration: none;
    outline: none;
    color: #fff;
    text-transform: uppercase;
    border-radius: 2px;
    /* Truncates text if needed */
  }

  .data-details {
    display: grid;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 10px;
    padding-bottom: 2rem;
    /* background-color: #fff; */
    grid-template-columns: repeat(2, 1fr);
    /* 3 equal columns */
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-columns: 4; */
  }

  /* .data-details>* {

} */

  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8 {
    padding: 20px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    font-family: Inter;
    font-size: 1rem;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
  }

  .box1 {
    padding: 24px;
    background: none;
    border-bottom: 3px solid linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
  }

  /* .box2 {} */

  .box-heading {
    font-weight: 400;
    margin: 0px;
    /* line-height: 20px; */
    padding-bottom: 20px;
  }

  .box-body {
    margin: 0px;
    font-weight: 200;
  }

  .team-section {
    text-align: center;
  }

  .team-section h2 {
    font-size: 1.4rem;
    font-weight: 200;
    color: #fff
  }

  .team-section p {
    padding: 0rem 2rem;
    color: #E5E5E5;
    line-height: 1.8rem;
  }

  .marketing {
    text-align: center;
  }

  .marketing h4 {
    font-weight: 500;
    font-size: 1.4rem;
    color: #fff;
    margin: 0px;
  }

  .marketing p {
    margin: 0px;
    padding: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #E5E5E5;
  }

  .project-briefing {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* padding: 0px 119.22px 0px 0px; */
    gap: 92px;
    margin: 0px;

  }

  .briefing-body,
  .exchange-body {
    padding: 20px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    color: #E5E5E5;
  }

  .project-briefing-left h6,
  .crypto-exchange-right h6 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin: 0px;
    color: #fff;
  }

  .project-briefing-left h4,
  .crypto-exchange-right h4 {
    font-size: 36px;
    font-weight: 400;
    margin: 0px;
    line-height: 44px;
    padding-bottom: 20px;
    color: #fff;
  }

  #content-marketing {
    padding-bottom: 3rem;
  }

  #content-marketing::before {
    background-image: url("./img/background-blob-service-1.png");
    content: "";
    background-size: cover;
    background-position: top;
    position: absolute;
    top: 70rem;
    left: 0;
    max-width: 100%;
    height: 100%;
    /* Full height */
    z-index: -1;
    /* Puts the background behind the content */

  }

  .btn {
    font-size: 1.2rem;
    padding-bottom: 7px;
    border: 2px solid;
    border-image-slice: 1;
    border-width: 2px;
    color: #fff;
    background-color: transparent;
    border-image-source: linear-gradient(to left, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    text-decoration: none;
    display: inline-block;
  }

  .btn>span::after {
    content: "";
    width: 30px;
    height: 30px;
    background: url("./img/a_after.png") no-repeat;
    /* top: 10px; */
    /* right: 5px; */
    /* left: 2px; */
    margin-left: 10px;
    margin-top: 2px;
    position: absolute;
    display: inline-block;
  }

  .crypto-exchange-detail {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    /* padding: 0px 119.22px 0px 0px; */
    margin: 0px;

  }

  .exchange-img {
    max-width: 100%;
  }

  img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .our-partners {
    position: relative;
    /* Ensures ::before is positioned relative to this container */
    padding: 20px;
    text-align: center;
  }

  /* .our-partners::before {
  content: "";
  position: absolute;
  background-image: url(./img/middle-left-2.png.png);
  background-size: cover;
  background-position: top;
  top: -102px;
  right: 190px;

  width: 500px;
  height: 500px;
  z-index: 0;
}

.our-partners::after {
  content: "";
  position: absolute;
  background-image: url(./img/mena.png.png),
    url("./img/near.png.png"),
    url("./img/solana.png.png");
  background-size: cover;
  background-position: top;
  top: 0px;

  left: 0;

  width: 73px;
  height: 83px;
  z-index: 1;
} */


  .partner-header {
    color: #fff;
  }

  .partner-logos {
    z-index: -1
  }
}